<div id="category-details" class="grid" *ngIf="rows.length > 0">
  <h3>All {{ activeCategory | titlecase }}</h3>
  <div class="header-outer">
    <div class="header-inner">
      <div class="header-col" *ngFor="let col of headerRow">
        <strong>{{ col }}</strong>
      </div>
      <div class="clearFix"></div>
    </div>
  </div>
  <div class="row-outer" *ngFor="let row of rows; index as i">
    <div class="row-inner" (click)="showAllCategoryDetails(i)">
      <div class="col" *ngFor="let item of row | keyvalue">
        {{ item.value | isNumber }}
      </div>
    </div>
  </div>
  <button
    id="lastPageBtn"
    *ngIf="!loading"
    [attr.disabled]="lastPage === null ? 'disabled' : null"
    (click)="goToLastPage()"
  >
    Last Page
  </button>
  <button
    id="nextPageBtn"
    *ngIf="!loading"
    [attr.disabled]="nextPage === null ? 'disabled' : null"
    (click)="goToNextPage()"
  >
    Next Page
  </button>
  <br />
  <div id="spaceAfterBtns"></div>
</div>
<div id="modal-bg" *ngIf="showModal || loading"></div>
<div id="modal" *ngIf="showModal || loading">
  <button class="close" (click)="showModal = false" *ngIf="showModal">X</button>
  <div class="modal-text">
    <div *ngIf="loading">
      <div id="loadingGIF">
        <img
          width="50"
          src="https://github.com/Andysimmonsisme/Star-Wars-API-App/blob/master/src/img/starwars-battleship-loader.gif?raw=true"
        />
      </div>
      Loading {{ activeCategory }}...<br />
    </div>
    <div *ngIf="showModal">
      <h3>Details</h3>
      <hr />
      <ul>
        <li *ngFor="let row of selectedRow | keyvalue">
          <strong>{{ convertToTitleCase(row.key) }}</strong
          >:
          <span [renderDetails]="row.value"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
