<div class="grid">
  <div class="header-outer">
    <div class="header-inner">
      <div class="header-col" *ngFor="let col of headerRow">
        <strong>{{ col }}</strong>
      </div>
      <div class="clearFix"></div>
    </div>
  </div>
  <div class="row-outer" *ngFor="let row of rows; index as i">
    <div class="row-inner" (click)="showAllCategoryDetails(i)">
      <div class="col" *ngFor="let item of row | keyvalue">
        {{ item.value | isNumber }}
      </div>
    </div>
  </div>
</div>
<div id="modal-bg" *ngIf="showModal || loading"></div>
<div id="modal" *ngIf="showModal || loading">
  <button class="close" (click)="showModal = false" *ngIf="showModal">X</button>
  <div class="modal-text">
    <div *ngIf="loading">Loading {{ activeCategory }}...</div>
    <div *ngIf="showModal">
      <h3>Details</h3>
      <hr />
      <ul>
        <li *ngFor="let row of selectedRow | keyvalue">
          <strong>{{ convertToTitleCase(row.key) }}</strong
          >:
          <span [renderDetails]="row.value"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
