<div class="grid">
  <div class="header-outer">
    <div class="header-inner">
      <div class="header-col" *ngFor="let col of headerRow">
        <strong>{{ col }}</strong>
      </div>
      <div class="clearFix"></div>
    </div>
  </div>
  <div class="row-outer" *ngFor="let row of rows; index as i">
    <div class="row-inner" (click)="showAllCategoryDetails(i)">
      <div class="col" *ngFor="let item of row | keyvalue">
        {{ item.value | formatDetails }}
      </div>
    </div>
  </div>
</div>
<div id="modal-bg"></div>
<div id="modal">
  <button class="close" (click)="closeModal()">X</button>
  <div class="modal-text">
    <h3>Details</h3>
    <hr />
    <ul>
      <li *ngFor="let row of selectedRow | keyvalue">
        <strong>{{ convertToTitleCase(row.key) }}</strong
        >:
        <span (click)="seeMore(row)" [renderDetails]="row.value"></span>
      </li>
    </ul>
  </div>
</div>
