<div id="header">
  Star Wars API App
  <p>Right now on a server far, far away...</p>
</div>
<div class="category-container">
  <div class="category-container-inner">
    <category
      *ngFor="let category of categories"
      [name]="category.name"
      (sendNavItemVal)="receiveNavItemVal($event)"
    ></category>
  </div>
  <div class="clearFix"></div>
</div>
<h2>
  {{ activeCategory | titlecase }}
</h2>
<category-details
  [activeCategory]="activeCategory"
  [mainFields]="mainFields"
></category-details>
