@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Poller+One&family=Roboto:wght@300&display=swap');
$primary-font: 'Roboto', sans-serif;

%list-text {
  float: left;
  padding: 15px;
}

body {
  margin: 0px;
  font-family: $primary-font;
}

.clearFix {
  clear: both;
}
